APP_ENV=dev
API_PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5433/kolowise?sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=lateengine
REDIS_DB=0
JWT_SECRET=d2f5e6e6429028e74b4f34bcc66a92207abf04d5d41b9e9e726e8fa7d758dbbf
JWT_ISSUER=kolowise